[submodule "test/imagetestsuite"]
	path = test/imagetestsuite
	url = https://github.com/lunapaint/imagetestsuite
	branch = main
[submodule "test/pngsuite"]
	path = test/pngsuite
	url = https://github.com/lunapaint/pngsuite
	branch = main
[submodule "test/random_pngs"]
	path = test/random_pngs
	url = https://github.com/lunapaint/random_pngs
